body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0, 04em;
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}
input {
  width: 272px;
  height: 40px;
  gap: 8px;
  border-radius: 4px;
  border: #808080 1px solid;
}
input:hover {
  border: 1px solid #000000;
}
input:focus {
  border: 1px solid #4e75ff;
  border-color: #4e75ff;
}
.search-button {
  color: #ffffff;
  border-radius: 8px;
  background-color: #4e75ff;
  border: #4e75ff;
  height: 45px;
  width: 91px;
  gap: 10px;
  padding: 8px, 16px, 8px, 16px;
}
.search-button:hover {
  background-color: #6c8cff;
  border: #6c8cff;
}
